<div class="main-content">
    <div class="container-fluid">
         
    <!-- <div *ngIf="user.uid | async as uid else login">
        This is logged in {{uid}}
        <div *ngIf="user.isAdmin | async">{{isAdmin}} Admin</div>
        <button (click)="user.logout()">logout</button> 
    </div>
   <ng-template #login>
       U need to login
       <button (click)="user.login()">login</button>
   </ng-template> -->
   <div class="row">
       <div class="col-md-4 "  *ngFor="let p of product">
       
            <div  class="card"  >
                <div class="card-header d-flex justify-content-center">
                 <img class="card-img-top " style="width: 50%;background-color: black;" src="{{p.url}}" alt="Card image cap">
                </div>
            
             <div class="card-body">
               <h5 class="card-title">{{p.productName}}</h5>
               <p><strong>Rs.{{p.productPrice}}</strong></p>
               <p class="card-text">{{p.productCategory}}</p>
               <p class="card-text">{{p.productDescription}}</p>
             </div>
             <div class="card-footer">
              <button class="btn btn-info" data-toggle="modal" data-target="#edit" (click)='storeupdate(this.p.key,this.p.imgname)'>Edit</button>
              <button class="btn btn-danger"  data-toggle="modal" data-target="#exampleModal" (click)='store(this.p.key,this.p.imgname)' >Delete</button>
             </div>
           </div>
       </div>
   </div>
    
<!-- <loading-spinner *ngIf="!finished" ></loading-spinner>   -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
         
        </div>
        <div class="modal-body">
          <h4>Are You sure you want to delete ?</h4>
        </div>
        <div class="modal-footer" >
          <button  type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
           <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)='deleteProduct()'>Yes</button> 
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="modal-body">
            <form ngNativeValidate  (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input for="exampleInputFile" style="display: none" name="url"  type="file" accept="image/*" (change)="onFileChanged($event)"   #fileInput>
                      <br>
                      <button class="btn btn-info" (click)="fileInput.click()" id="exampleInputFile">Select Product Image</button>
                     
                      <label>{{fileinfo}}</label>
                      <br>
                      <!-- <button (click)="onUpload()">Upload</button> -->
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName">Enter Product Name</label>
                      <input type="text" class="form-control" name="productName" id=""[(ngModel)]="productUpdate.productName"  >
                      
                      <!-- <span ng-show="hasError('productName', 'required')">required</span> -->
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPrice">Enter Product Price</label>
                      <input type="number" class="form-control" name="productPrice" [(ngModel)]="productUpdate.productPrice" id="exampleInputPrice"  >
                    </div>
                    <div class="form-group">
                      <label for="exampleInputCategory">Enter Product Category</label>
                      <input type="text" class="form-control" name="productCategory" [(ngModel)]="productUpdate.productCategory" id="exampleInputCategory"  >
                    </div>
                    <div class="form-group">
                      <label for="exampleInputDesc">Enter Product Description</label>
                      <input type="text" class="form-control" name="productDescription"  [(ngModel)]="productUpdate.productDescription" id="exampleInputDesc"  >
                    </div>
                    <div >
                      <button   type="submit" data-toggle="modal" data-target="#updatedialog"  value="Submit" class="btn btn-success" >Update Commodities</button>
                    </div>
                   
                    <!-- <button type="reset" class="btn btn-danger" >Reset</button> -->
                    
                  </div>
                  <div class="col-md-6">
                    
                  </div>
                </div>
                
              </form>
        </div>
        <div class="modal-footer" >
          <button  type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <!-- <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)='deleteProduct()'>Yes</button>  -->
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="updatedialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update</h5>
         
        </div>
        <div class="modal-body">
          <div *ngIf="files" class="progress" >
            <div  class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
           
        </div>
        <div *ngIf="!files" >
            <h3>Updated Successfully</h3>
            <br>
            <button  type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
        <div class="modal-footer" *ngIf="(uploadProgress|async) == 100">
          <h3>Updated Successfully</h3>
          <br>
          <button  type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      
      </div>
    </div>
  </div>

  </div>
  </div>
  



